data/stage_2_data/test.csv
data/stage_2_data/train.csv
data/stage_2_data/*
test.csv
train.csv
/data/stage_3_data/CIFAR
/data/stage_3_data/MNIST
/data/stage_3_data/ORL
/data/stage_3_data/ReadMe.pages
/data/stage_3_data/ReadMe.pdf
/data/stage_3_data/ReadMe.txt
/data/stage_4_data/glove.6B.50d.txt
/data/stage_4_data/glove.6B.100d.txt
/data/stage_4_data/glove.6B.200d.txt
/data/stage_4_data/glove.6B.300d.txt
